@using ManageGames.Web.Models
@model ManageGames.Web.Models.EmprestimoVM

@{
    ViewBag.Title = "Create";

    List<JogoVM> _jogoCombo = ViewBag.ComboJogos;
    List<AmigoVM> _amigoCombo = ViewBag.ComboAmigo;
}

<h2>Emprestar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Emprestimo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Amigo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var listItemsAmigo = new List<SelectListItem>();

                    if (_amigoCombo != null)
                    {
                        listItemsAmigo = _amigoCombo.Select(x => new SelectListItem
                        {
                            Value = x.Id.ToString(),
                            Text = x.Nome
                        }).ToList();
                    }

                }
                @Html.DropDownListFor(model => model.Amigo.Id, listItemsAmigo, "Selecione um Amigo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Amigo.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Jogo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var listItemsJogo = new List<SelectListItem>();

                    if (_jogoCombo != null)
                    {
                        listItemsJogo = _jogoCombo.Select(x => new SelectListItem
                        {
                            Value = x.Id.ToString(),
                            Text = x.Nome
                        }).ToList();
                    }

                }
                @Html.DropDownListFor(model => model.Jogo.Id, listItemsJogo, "Selecione um Jogo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Jogo.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Emprestar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir para Jogos Emprestados", "Index")
</div>
